<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>

script(src='/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/validation.js')
